doctype html
html
    head
        title Olssons fordon AB
        link(rel="stylecheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    body
        nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
            a.navbar-brand(href='#') Olssons Fordon AB
        .container
            block content