doctype html
html
    head
        title Olssons fordon AB
        link(rel="stylesheet", href="../styles/style.css" type="text/css")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
    body
            h1 Olssons Fordon AB
            button(id="login" class="loginSignup") Login/Signup
            input(id="loginInput" class="loginSignup" placeholder="Personnr")
            block content