doctype html
html
    head
        title Olssons fordon AB
        link(rel="stylesheet", href="../styles/style.css" type="text/css")
    body
            h1 Olssons Fordon AB
            block content