extends head
block content
    
    div(class="formContent")
        form(id="dateForm" action="#" method="post")
            input(type="date" name="dateStart")
        
            input(type="date" name="dateEnd")
        form(id="filterForm" action="#" method="post")
            select(id="vehicleType")
                option(value=""  selected) VehicleType
            select(id="brand" )
                option(value=""  selected) Brand
            select(id="model" )
                option(value=""  selected) Model
            select(id="gearbox" )
                option(value=""  selected) Gearbox
            button(id="searchBtn" type="submit" disabled=true title="date must be selected" ) Search
        ul(class="infoContent")
            img(src="#" alt="image")
            p Here is some info about the selected car.
            button( type="submit" id="selectBtn" disabled=true title="date must be selected" method="POST") Select Car
    
          
            script(src="../scripts/main.js")