extends head
block content
    
    div(class="formContent")
        form(id="dateForm")
            label(for="fname") Start date:
            input(type="date" name="dateStart")
            label(for="lname") End date:
            input(type="date" name="dateEnd")
        form(id="filterForm" ) Options:
            select(id="vehicleType")
                option(value=""  selected) Vehicletype
            select(id="brand" )
                option(value=""  selected) Brand
            select(id="model" )
                option(value=""  selected) Model
            select(id="gearbox" )
                option(value=""  selected) Gearbox
            button(id="searchBtn" disabled=true title="date must be selected" ) Search
        
        form(class="infoContent" id="submitForm"  )
            div(class="row" id="vehicleContainer")
                div(id="carInfo") Wellcome to Olsson Fordon AB select dates and options in the form and search for your ride.
                div.flex-item#searchResults

                    table#t01(style = "width:100%")

                        tr#carHeader
                            th Image
                            th Vehicle Type
                            th Brand
                            th Model
                            th Date
                            th Fuel Type
                            th Gear Type
                            th Driving Licence
                            th Price / day
                            th Book Car
                            th Comment


                
        
    script(src="../scripts/main.js")