extends head
block content

    form(id="dateForm" action="#" method="post")
        input(type="date")
        
        input(type="date")
    form(id="filterForm" action="#" method="post")
        select(id="vehicleType")
            option(value="" disabled selected) VehicleType
        select(id="brand" )
            option(value="" disabled selected) Brand
        select(id="model" )
            option(value="" disabled selected) Model
        select(id="gearbox" )
            option(value="" disabled selected) Gearbox
        button(id="searchBtn" type="submit" disabled title="date must be selected" ) Search
    div
        img(src="" alt="image")
        p here comes some info...
        button(type="submit") Pick

        script(src="../scripts/main.js")