extends head
block content

    form(action="#" method="post")
        input(type="date")
        
        input(type="date")
    form(action="#" method="post")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        button(type="submit") Search
    div
        img(src="" alt="image")
        p here comes some info...
        button(type="submit") Pick
        