extends head
block content

    form(id="dateForm" action="#" method="post")
        input(type="date")
        
        input(type="date")
    form(id="filterForm" action="#" method="post")
        input(type="text")
        input(type="text")
        input(type="text")
        input(type="text")
        button(id="searchBtn" type="submit") Search
    div
        img(src="" alt="image")
        p here comes some info...
        button(type="submit") Pick
        