extends head
block content
    
    div(class="formContent")
        form(id="dateForm" action="#" method="post")
            input(type="date" name="dateStart")
        
            input(type="date" name="dateEnd")
        form(id="filterForm" action="#" method="post")
            select(id="vehicleType")
                option(value="" disabled selected) VehicleType
            select(id="brand" )
                option(value="" disabled selected) Brand
            select(id="model" )
                option(value="" disabled selected) Model
            select(id="gearbox" )
                option(value="" disabled selected) Gearbox
            button(id="searchBtn" type="submit" disabled=true title="date must be selected" ) Search
        ul(class="infoContent")
        // make the info about cars visible only when a date and vehicle is selected
        each val in cars
            li= val
        else
            li There are no items.
          
            script(src="../scripts/main.js")