extends head
block content
    
    div(class="formContent")
        form(id="dateForm")
            label(for="fname") Start datum:
            input(type="date" name="dateStart")
            label(for="lname") Slut datum:
            input(type="date" name="dateEnd")
        form(id="filterForm" ) Alternativ:
            select(id="vehicleType")
                option(value=""  selected) Fordonstyp
            select(id="brand" )
                option(value=""  selected) Märke
            select(id="model" )
                option(value=""  selected) Modell
            select(id="gearbox" )
                option(value=""  selected) Växellåda
            button(id="searchBtn" disabled=true title="date must be selected" ) Sök
        
        form(class="infoContent" id="submitForm"  )
            div(class="row" id="vehicleContainer")
                div(id="carInfo") Välkommen till Olssons Fordon AB sök i menyn för att få fram ett fordon som passar just dig.
                div.flex-item#searchResults

                    table#t01(style = "width:100%")

                        tr#carHeader
                            th Image
                            th Vehicle Type
                            th Brand
                            th Model
                            th Date
                            th Fuel Type
                            th Gear Type
                            th Driving Licence
                            th Price / day
                            th Book Car
                            th Comment


                
        
    script(src="../scripts/main.js")