extends head
block content
    
    div(class="formContent")
        form(id="dateForm" action="#" method="post")
            input(type="date" name="dateStart")
        
            input(type="date" name="dateEnd")
        form(id="filterForm" action="#" method="post")
            select(id="vehicleType")
                option(value=""  selected) VehicleType
            select(id="brand" )
                option(value=""  selected) Brand
            select(id="model" )
                option(value=""  selected) Model
            select(id="gearbox" )
                option(value=""  selected) Gearbox
            button(id="searchBtn" type="submit" disabled=true title="date must be selected" ) Search

        // form where the search based result is selected by the user
        // need to add conformation page to be able to Post.
        
        form(class="infoContent" id="submitForm" method="post", action="/confirmation" )
            
            button(type="submit" id="selectBtn" ) Select Car

          
            script(src="../scripts/main.js")