extends head
block content
    
    div(class="formContent")
        form(id="dateForm" action="#" method="post")
            input(type="date" name="dateStart")
        
            input(type="date" name="dateEnd")
        form(id="filterForm" action="#" method="post")
            select(id="vehicleType")
                option(value="" disabled selected) VehicleType
            select(id="brand" )
                option(value="" disabled selected) Brand
            select(id="model" )
                option(value="" disabled selected) Model
            select(id="gearbox" )
                option(value="" disabled selected) Gearbox
            button(id="searchBtn" type="submit" disabled=true title="date must be selected" ) Search
        // form where the search based result is selected by the user
        // need to add conformation page to be able to Post.
        
        form(class="infoContent" id="submitForm" method="POST", action="/confirmation" )
            label(for="select") Here is a list of cars based on your search
            img(src="#" alt="car")
            p Here is some info about your car...
            button(type="submit" id="selectBtn" ) Select Car
          
            script(src="../scripts/main.js")