extends head
block content
    
    div(class="formContent")
        form(id="dateForm" action="#" method="post")
            label(for="fname") Start datum
            input(type="date" name="dateStart")
            label(for="lname") Slut datum
            input(type="date" name="dateEnd")
        form(id="filterForm" action="#" method="post")
            select(id="vehicleType")
                option(value=""  selected) VehicleType
            select(id="brand" )
                option(value=""  selected) Brand
            select(id="model" )
                option(value=""  selected) Model
            select(id="gearbox" )
                option(value=""  selected) Gearbox
            button(id="searchBtn" type="submit" disabled=true title="date must be selected" ) Sök

        // form where the search based result is selected by the user
        // need to add conformation page to be able to Post.
        
        form(class="infoContent" id="submitForm" method="post"  )
            div(class="row" data-Id="car._Id")
                p(id="carInfo") Välkommen till Olssons Fordon AB sök i menyn för att få fram ett fordon som passar just dig.
                button(type="submit" id="selectBtn" ) Välj Fordon

          
            script(src="../scripts/main.js")