extends head
block content
    
    div(class="formContent")
        form(id="dateForm" action="#" method="post")
            label(for="fname") Start datum:
            input(type="date" name="dateStart")
            label(for="lname") Slut datum:
            input(type="date" name="dateEnd")
        form(id="filterForm" action="#" method="post") Alternativ:
            select(id="vehicleType")
                option(value=""  selected) VehicleType
            select(id="brand" )
                option(value=""  selected) Brand
            select(id="model" )
                option(value=""  selected) Model
            select(id="gearbox" )
                option(value=""  selected) Gearbox
            button(id="searchBtn" type="submit" disabled=true title="date must be selected" ) Sök
        
        form(class="infoContent" id="submitForm" method="post"  )
            div(class="row" id="vehicleContainer" data-Id="car._Id")
                div
                    p(style="width: 200px" ) bild
                    p märke
                    p model
                    p fordonstyp
                    p pris
                div(id="carInfo") Välkommen till Olssons Fordon AB sök i menyn för att få fram ett fordon som passar just dig.
                
        
          
        script(src="../scripts/main.js")